<a href="https://colab.research.google.com/github/mhanauer/pg_report/blob/main/pg_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/mhanauer/pg_report.git

Cloning into 'pg_report'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 13 (delta 3), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), done.

In [3]:
!pip install xgboost
!pip install lightgbm
!pip install scikit-optimize
import pandas as pd
import sklearn
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from skopt import BayesSearchCV
import xgboost as xgb
import lightgbm as lgb
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
import numpy as np
from joblib import dump, load
from sklearn.model_selection import RepeatedKFold
%cd pg_report/

Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.21.6)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.1.0)
Collecting scikit-optimize
  Downloading scikit_optimize-0.9.0-py2.py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 7.1 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.1.0)
Collecting pyaml>=16.9
  Downloading pyaml-21.10.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.0.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.4.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyaml>=16.9->scikit-optimize) (3.13)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->scikit-optimize) (3.1.0)
Installing collected packages: pyaml, scikit-optimize
Successfully installed pyaml-21.10.1 scikit-optimize-0.9.0
/content/pg_report

Step: Load in data
(Please present this answer visually)
How does our conversion rate change through the funnel overall and by marketing channels?

Create overall conversation rate which is the percentage of sign_and_exam to started navigator.

Then analyze this conversation rate by marketing change.

In [4]:
funnel_path = pd.read_csv("funnel_path.csv")
users = pd.read_csv("users.csv")
funnel_path_users = funnel_path.merge(users, on='user_id', how='left')
funnel_path_users

,user_id,funnel_steps,age,device,income,num_conditions,premium,marketing_channels
0,1001,collect_contact_info,56,desktop,157490,5,2490.123774,instagram
1,1001,started_navigator,56,desktop,157490,5,2490.123774,instagram
2,1002,application_submit,34,desktop,138171,3,1906.228442,paid_search_nb
3,1002,collect_contact_info,34,desktop,138171,3,1906.228442,paid_search_nb
4,1002,phone_connect,34,desktop,138171,3,1906.228442,paid_search_nb
...,...,...,...,...,...,...,...,...
27624,10999,collect_contact_info,20,mobile_ios,163641,4,1786.076634,podcast
27625,10999,started_navigator,20,mobile_ios,163641,4,1786.076634,podcast
27626,10999,viewed_quotes,20,mobile_ios,163641,4,1786.076634,podcast
27627,11000,collect_contact_info,21,mobile_ios,169217,3,1756.614104,podcast
27628,11000,started_navigator,21,mobile_ios,169217,3,1756.614104,podcast

Calculate conversation rate overall and by channel

In [5]:
funnel_path_users

,user_id,funnel_steps,age,device,income,num_conditions,premium,marketing_channels
0,1001,collect_contact_info,56,desktop,157490,5,2490.123774,instagram
1,1001,started_navigator,56,desktop,157490,5,2490.123774,instagram
2,1002,application_submit,34,desktop,138171,3,1906.228442,paid_search_nb
3,1002,collect_contact_info,34,desktop,138171,3,1906.228442,paid_search_nb
4,1002,phone_connect,34,desktop,138171,3,1906.228442,paid_search_nb
...,...,...,...,...,...,...,...,...
27624,10999,collect_contact_info,20,mobile_ios,163641,4,1786.076634,podcast
27625,10999,started_navigator,20,mobile_ios,163641,4,1786.076634,podcast
27626,10999,viewed_quotes,20,mobile_ios,163641,4,1786.076634,podcast
27627,11000,collect_contact_info,21,mobile_ios,169217,3,1756.614104,podcast
27628,11000,started_navigator,21,mobile_ios,169217,3,1756.614104,podcast

Step:

In [50]:
number_of_customers = len(pd.unique(funnel_path_users['user_id']))
number_of_customers

10000

In [54]:
def count_marketing_channel_fun(data, var1, var2): 
  test = data[["funnel_steps", "marketing_channels"]].value_counts().reset_index(name='count')
  test[["percentage"]] = test[["count"]] / number_of_customers
  test[["percentage"]] = test[["percentage"]].round(2) 
  test = test[test.funnel_steps == "sign_and_exam"]
  return test

count_marketing_channel = count_marketing_channel_fun(funnel_path_users, "funnel_steps", "marketing_channels")
count_marketing_channel

     funnel_steps marketing_channels  count  percentage
19  sign_and_exam     paid_search_nb    303        0.03
22  sign_and_exam            podcast    222        0.02
27  sign_and_exam          instagram    106        0.01
28  sign_and_exam           facebook     97        0.01
29  sign_and_exam                 tv     56        0.01

Conversation rate overall

In [70]:
def count_percentage(data, var):
  test = data[[var]].value_counts().reset_index(name='count')
  test[["percentage"]] = test[["count"]] / number_of_customers
  test[["percentage"]] = test[["percentage"]].round(2)
  test = test[test[var] == 'sign_and_exam']
  test.insert(1, 'marketing_channels', 'overall')
  return test
overall_conversion_rate = count_percentage(data = funnel_path_users, var = "funnel_steps")
overall_conversion_rate

    funnel_steps marketing_channels  count  percentage
5  sign_and_exam            overall    784        0.08